.images_1_grade .images_2_grade .images_3_grade{
display:list-item;
}
img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
  border: 3px double brown;
}
.img2{
  object-position: top left;
}
.img5{
  object-position: top 0px left -150px;
}
.img6{
    object-position: top 0px left -40px;
}
.img8{
  object-position: top 0px left -40px;
}